*{margin: 0; padding: 0;}


.cabecalho {
    background-color: rgb(118, 128, 235);
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.cabecalho-imagem{
    width: 10%;
    display: ruby-base-container;
    align-items: center;
}

.cabecalho{
    display: ruby-base;
    margin: 0 1px
}
.play{
display: flex; justify-content:center;align-items: center; padding: 200px;}

.botaoplay {width:10% ;}

.rodape{
    background-color: rgb(118, 128, 235)
    ; display: flex; justify-content: center;
}

.rodape-imagem {width: 4%;}

