*{margin: 0; padding: 0;}


.cabecalho {
    background-color: rgb(118, 128, 235);
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.cabecalho-imagem{
    width: 10%;
}

.cabecalho{
    display: ruby-base;
    margin: 0 1px
}
.bo {}
 